// imported use of variables defined in _variables.scss
@use "variables" as *;

#bg_black {
    background-color: $dark;

    .content {
        color: $light;
        padding: 1rem;

        .col-2 {
            margin-bottom: 1rem;
        }
    }
}