// imported use of variables defined in _variables.scss
@use "variables" as *;

#bg_black {
    background-color: $dark;

    .content {
        color: $light;
        padding: 2rem;

        .col-2 {
            margin-bottom: 1rem;
        }
    }

    .centered_button {
        text-align: center;

        button {
            padding: 0.5rem 2rem;
            background-color: $primary;
            color: $light;
            font-family: 'PT Sans Narrow', sans-serif;
            margin-bottom: 1rem;
            border: none;

            &:hover {
                cursor: pointer;
                background-color: $light;
                color: $dark;
                transition: 0.4s;
            }
        }
    }

    .disclaimer {
        background-color: $primary;
        padding: 0.5rem 1rem;
        color: $light;
        position: absolute;
        transform: translate(0, -50%);
        bottom: 95%;
    }


}