// imported use of variables defined in _variables.scss
@use 'variables' as *;

#bg_grey {
    background-color: $darker;

    #site_footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem;

        button {
            padding: 1rem;
            border: 2px solid $primary;
            background-color: $darker;
            color: $light;

            &:hover {
                cursor: pointer;
                background-color: $primary;
                transition: 0.4s;
            }
        }

        .social {
            display: flex;
            align-items: center;

            span {
                color: $primary;
                font-weight: bold;
            }

            img {
                margin: 0.5rem;
            }
        }


    }
}