#bg_blue {
    background-color: lightskyblue;
    color: white;

    .row {
        padding: 2rem;
    }

    .col {
        display: flex;
        align-items: center;

        img {
            width: 50px;
            margin: 1rem;
        }

        .locator {
            width: 36px;
        }
    }
}