@use 'variables' as *;

#bg_blue {
    background-color: $primary;
    color: $light;

    .row {
        padding: 2rem;
    }

    .col {
        display: flex;
        align-items: center;

        img {
            width: 50px;
            margin: 0.5rem;
        }

        .locator {
            width: 36px;
        }

        p {
            font-size: 12px;
        }
    }
}