@use "./assets/scss/partials/header";

@use "./assets/scss/partials/content";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 80%;
    margin: auto;
}