@use "./assets/scss/partials/header";

@use "./assets/scss/partials/content";

@use "./assets/scss/partials/references";

@use "./assets/scss/partials/banner";

@use "../node_modules/bootstrap/scss/bootstrap-grid.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    width: 80%;
    margin: auto;
}

img {
    max-width: 100%;
}

#bg_image {
    background-image: url("./assets/img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}